---
import AstroIcon from '~/assets/icons/stack/astro-light.svg';
import AstroDarkIcon from '~/assets/icons/stack/astro-dark.svg';
import SolidIcon from '~/assets/icons/stack/solid-light.svg';
import SolidDarkIcon from '~/assets/icons/stack/solid-dark.svg';
---

<footer class='mt-auto w-full p-4 text-right text-sm'>
	Built with
	<a href='https://astro.build/' target='_blank'>
		<AstroIcon class='hidden h-7 w-auto dark:inline' />
		<AstroDarkIcon class='inline h-7 w-auto dark:hidden' /> +
	</a>
	<a href='https://solidjs.com/' target='_blank'>
		<SolidIcon class='hidden h-5 w-auto dark:inline' />
		<SolidDarkIcon class='inline h-5 w-auto dark:hidden' />
	</a>
</footer>
