---
import BoredLuckyImg from '~/assets/images/boredlucky.png';
import TotleImg from '~/assets/images/employers/totle.png';
import StarlyImg from '~/assets/images/starly.svg';
import Project from './Project.astro';
---

<div>
	<h2 class='h2'>PROJECTS</h2>
	<div class='mt-4 flex flex-col gap-8'>
		<Project
			title='INFINITY Webshop'
			employerName='CreativeIT'
			period='Nov 2023 - Jun 2024'
			description={`My accomplishments:
					- Implemented fully fledged Auth flow with credentials and custom backend using NextAuth
					- Implemented internationalization in Next.js middleware using next-intl
					- Implemented smoothly animated, responsive, and accessible interface efficiently optimized and near pixel-perfect to designs using Tailwind CSS, DaisyUI and framer-motion
					- Created a purchase page with server-side data fetching, validations, progress synchronization, and lots of customization options for vendors.`}
			skills={['Next.js', 'React', 'NextAuth', 'Next-intl', 'React Hook Form', 'Tailwind CSS', 'DaisyUI', 'Zustand']}
		/>
		<Project
			title='3D Animation Marketplace'
			employerName='CreativeIT'
			period='Aug 2023 - Nov 2023'
			description={`Created animation preview component with UX of controls in mind (mobile touch controls, on-screen controls, mouse + keyboard controls)
					Created a separate service to prerender animation files into .webm videos using Puppeteer.`}
			skills={['Next.js', 'React', 'Three.js (@react-three/fiber, @react-three/drei)', 'Zustand', 'Tailwind CSS', 'Puppeteer']}
		/>
		{/* https://starly.io/ */}
		<Project
			title='Starly'
			employeeImg={StarlyImg}
			employerName='CreativeIT'
			period='Dec 2021 - May 2023'
			description={`NFT marketplace with various collect-to-earn mechanics. Built on React, Redux, Styled-components, Firebase, Flow blockchain, and Ethers.
          My accomplishments:
          - Optimized, refactored, and improved an already existing code base of a middle-sized project, which greatly improved performance, UX and code quality (-40% bundle size, resolved hundreds of eslint and typescript errors, and fixed dozens of old bugs);
          - Implemented NFT and Starly token staking functionalities, bidding, vesting, and Binance smart chain payment integration;
          - Implemented UI for the new pages near pixel-perfect to designs and ensured its UX and responsibility with the help of the QA team.
          
          Client’s feedback on my work: https://clutch.co/go-to-review/be30a22b-bf5a-4b72-be7b-9232c314eaa3/190900`}
			skills={[
				'React',
				'Redux (with Saga and Toolkit)',
				'Styled-components',
				'Storybook',
				'Typescript',
				'react-hook-forms',
				'Firebase',
				'Flow blockchain',
				'Ethers',
			]}
		/>
		{/* https://boredlucky.vercel.app/ */}
		<Project
			title='Bored & Lucky'
			employeeImg={BoredLuckyImg}
			employerName='CreativeIT'
			period='Jul 2022 - Dec 2022'
			description={`‘Bored & Lucky’ is and Ethereum smart-contract based NFT raffle platform. Built on Next.js, Typescript, Redux Thunk, Styled-components, Redis, Wagmi.
					My responsibilities and accomplishments were all front-end parts except for project setup and initial raffle layout, i.e.:
					- Implemented UI near pixel-perfect to designs and ensured its UX and responsiveness with the help of the QA team;
					- Implemented Web3 related logic of displaying time-based raffles and interacting with them with Web3 wallets;
					- Created a small custom global store solution using React Context and Redux Thunk with persistence.`}
			skills={['Next.js', 'Typescript', 'Redux Thunk', 'Styled-components', 'Redis', 'Wagmi']}
		/>
		<Project
			title='Totle Swap'
			employeeImg={TotleImg}
			employerName='Totle'
			period='May 2019 - Mar 2020'
			description={`Decentralized exchanges aggregator that lets you swap tokens at best prices available.

My accomplishments:
- Setup a new lightweight front-end app with React + Redux that handled API calls and Web3 wallets interactions;
- Integrated our back-end service with various wallets (i.e. MyEtherWallet);
- Created backoffice-related services: a web app to manage back-end data (built with React + Typescript + GraphQL), notifications and logging services (Node.js + Typescript);

Was integrated later as one of the routes for Metamask.`}
			skills={['React', 'Redux', 'Typescript', 'GraphQL', 'Flexbox Grid']}
		/>
	</div>
</div>
