---

---

<label
	id='themeToggle'
	class='swap absolute top-8 right-4 z-20 mx-auto -mt-4 origin-top-right p-4 transition-transform hover:scale-150 lg:fixed lg:top-0'
>
	<div class='sun size-5 border-[7px] border-white bg-black'></div>

	<div class='moon size-5 border-[7px] border-black bg-white'></div>
</label>

<style>
	.sun {
		opacity: 0%;
	}
	.moon {
		opacity: 100%;
	}

	:global([data-theme='dark']) .sun {
		opacity: 100%;
	}
	:global([data-theme='dark']) .moon {
		opacity: 0%;
	}
</style>

<script is:inline>
	const theme = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme') ?? 'light';
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	})();

	const isDark = theme === 'dark';
	document.documentElement.setAttribute('data-theme', isDark ? 'dark' : 'light');

	window.localStorage.setItem('theme', theme);

	const handleToggleClick = () => {
		const isDark = document.documentElement.getAttribute('data-theme') === 'dark';
		localStorage.setItem('theme', !isDark ? 'dark' : 'light');

		document.documentElement.setAttribute('data-theme', isDark ? 'light' : 'dark');
	};

	document.getElementById('themeToggle')?.addEventListener('click', handleToggleClick);

	document.addEventListener('astro:after-swap', function () {
		const isDark = localStorage.getItem('theme') === 'dark';
		document.documentElement.setAttribute('data-theme', isDark ? 'dark' : 'light');

		document.getElementById('themeToggle')?.addEventListener('click', handleToggleClick);
	});
</script>
