@import 'tailwindcss';

@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	--color-primary: oklch(57% 0.185 251.19);
	--color-primary-content: #fff;
}
@plugin "daisyui/theme" {
	name: 'dark';
	/* prefersdark: true; */
	--color-primary: oklch(57% 0.185 251.19);
	--color-base-content: rgb(237 237 237);
	--color-info-content: rgb(161 161 161);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-geist: 'Geist';

	--animate-fade-in: fade-in 0.3s forwards;
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@layer components {
	.h1 {
		@apply text-2xl font-semibold tracking-tight;
	}
	.h2 {
		@apply text-lg font-semibold tracking-tight;
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
}
