---
// import { SEO } from 'astro-seo';
import { location } from '~/data';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta property='og:title' content="Andrew Katsewich's CV" />
		<meta property='og:type' content='website' />
		<meta property='og:site_name' content='Vercel' />
		<meta property='og:image' content='/og.png' />
		<meta property='og:image:alt' content={`Andrew Katsewich, Full Stack Developer in ${location}, @CreativeIT`} />
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='630' />
		<meta name='description' content='Astro description' />

		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />
		<link rel='apple-touch-icon' href='/logo.png' />
		<link rel='manifest' href='/manifest.json' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />

		<meta name='theme-color' content='#a6bfff4c' />

		<!-- <SEO
			title='A Very Descriptive Title'
			description='A heavily optimized description full of well-researched keywords.'
			openGraph={{
				basic: {
					title: 'A Very Descriptive Title',
					type: 'A type.',
					image: 'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
				},
			}}
			twitter={{
				creator: '@jonasmerlins1',
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: 'icon', href: '/favicon.ico' }],
				// extending the default meta tags
				meta: [
					{
						name: 'twitter:image',
						content: 'https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png',
					},
					{ name: 'twitter:title', content: 'Tinker Tailor Soldier Spy' },
					{ name: 'twitter:description', content: 'Agent' },
				],
			}}
		/> -->
	</head>
	<body class='relative min-h-screen'>
		<div
			class=''
		>
		<!-- <div
			class='background after:glass after:block after:h-full after:w-full after:bg-none after:backdrop-blur-[150px] transition-all duration-300'
		> -->
		</div>
		<div id='app'><slot /></div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}

	.background {
		background: radial-gradient(circle, rgba(166, 191, 255, 0.7) 0%, rgba(166, 191, 255, 0.5) 35%, #fff 100%);
		position: fixed;
		height: 100vh;
		inset: 0;
		z-index: -1;
		overflow: hidden;
	}

	[data-theme='dark'] body {
		.background {
			background: radial-gradient(circle, rgba(166, 191, 255, 1) 0%, #000 100%);
		}
	}
</style>
